[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/.vim/bundle/vim-rails"]
	path = vim/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/.vim/bundle/vim-ruby"]
	path = vim/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/.vim/bundle/vim-haml"]
	path = vim/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "vim/.vim/bundle/vim-jade"]
	path = vim/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim/.vim/bundle/vim-bundler"]
	path = vim/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/.vim/bundle/vim-endwise"]
	path = vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/vim-dispatch"]
	path = vim/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/.vim/bundle/tern_for_vim"]
	path = vim/.vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "vim/.vim/bundle/jellybeans.vim"]
	path = vim/.vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim/.vim/bundle/vim-eunuch"]
	path = vim/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/.vim/bundle/html5.vim"]
	path = vim/.vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/.vim/bundle/vim-mustache-handlebars"]
	path = vim/.vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "vim/.vim/bundle/php.vim"]
	path = vim/.vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "/home/derick/.vim/bundle/vim-go"]
	path = /home/derick/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/dbext.vim"]
	path = vim/.vim/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
  ignore = dirty
[submodule "vim/.vim/bundle/pgsql.vim"]
	path = vim/.vim/bundle/pgsql.vim
	url = https://github.com/exu/pgsql.vim
[submodule "vim/.vim/bundle/vim-jsx"]
	path = vim/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/bundle/vim-rake"]
	path = vim/.vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-slime"]
	path = vim/.vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/.vim/bundle/vim-blade"]
	path = vim/.vim/bundle/vim-blade
	url = git://github.com/xsbeats/vim-blade.git
[submodule "vim/.vim/bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/.vim/bundle/vim-fireplace"]
	path = vim/.vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/.vim/bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/bundle/vimproc.vim"]
	path = vim/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/.vim/bundle/vim-rbenv"]
	path = vim/.vim/bundle/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/bundle/csapprox"]
	path = vim/.vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "vim/.vim/bundle/todo.txt-vim"]
	path = vim/.vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "vim/.vim/bundle/apiblueprint.vim"]
	path = vim/.vim/bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
[submodule "vim/.vim/bundle/vim-table-mode"]
	path = vim/.vim/bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "vim/.vim/bundle/vim-hack"]
	path = vim/.vim/bundle/vim-hack
	url = https://github.com/hhvm/vim-hack.git
[submodule "vim/.vim/bundle/vim-css3-syntax"]
	path = vim/.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/bundle/vdebug"]
	path = vim/.vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "vim/.vim/bundle/ack.vim"]
	path = vim/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/bundle/vim-rest-console"]
	path = vim/.vim/bundle/vim-rest-console
	url = https://github.com/diepm/vim-rest-console.git
[submodule "vim/.vim/bundle/javascript-libraries-syntax.vim"]
	path = vim/.vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "vim/.vim/bundle/vim-node"]
	path = vim/.vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/.vim/bundle/tsuquyomi"]
	path = vim/.vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/.vim/bundle/vim-coloresque"]
	path = vim/.vim/bundle/vim-coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
[submodule "vim/.vim/bundle/vim-vinegar"]
	path = vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/.vim/bundle/gem-ctags"]
	path = vim/.vim/bundle/gem-ctags
	url = https://github.com/tpope/gem-ctags.git
[submodule "rbenv/plugins/rbenv-ctags"]
	path = rbenv/plugins/rbenv-ctags
	url = https://github.com/tpope/rbenv-ctags.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/csv.vim"]
	path = vim/.vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/.vim/bundle/vim-abolish"]
	path = vim/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
