[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/.vim/bundle/vim-rails"]
	path = vim/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/.vim/bundle/vim-ruby"]
	path = vim/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/.vim/bundle/vim-haml"]
	path = vim/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "vim/.vim/bundle/vim-jade"]
	path = vim/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim/.vim/bundle/python-mode"]
	path = vim/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "vim/.vim/bundle/vim-bundler"]
	path = vim/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/.vim/bundle/vim-endwise"]
	path = vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
