snippet code "Code"
\`\`\`${1:javascript}
${2:console.log("hello world")}
\`\`\`
endsnippet

snippet h1 "#"
# 
endsnippet

snippet h2 "##"
## 
endsnippet

snippet h3 "###"
### 
endsnippet

snippet h4 "####"
#### 
endsnippet

snippet h5 "#####"
##### 
endsnippet

snippet h6 "######"
###### 
endsnippet

snippet userstory "User Story"
${1:#} As a User
${2:I want to}

$1 So That
${3:So That}

$1 Acceptance Criteria
$4
endsnippet
