snippet code "Code"
\`\`\`${1:javascript}
${2:console.log("hello world")}
\`\`\`
endsnippet

snippet h1 "#"
# 
endsnippet

snippet h2 "##"
## 
endsnippet

snippet h3 "###"
### 
endsnippet

snippet h4 "####"
#### 
endsnippet

snippet h5 "#####"
##### 
endsnippet

snippet h6 "######"
###### 
endsnippet
