snippet bado "Be A Double Of"
$${1:obj}->beADoubleOf('${2:type}');
endsnippet

snippet bcw "Be constructed with"
$this->beConstructedWith($${1:obj});
endsnippet

snippet t "$this"
$this->
endsnippet

snippet psy "PsySh"
eval(\Psy\sh());
endsnippet
